<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <appSettings>
    <add key="FeedUrl" value="xxxxx" />
    <add key="ApiHost" value="xxxxx" />
    <add key="BasicAuthUsername" value="xxxxx" />
    <add key="BasicAuthPassword" value="xxxxx" />
  </appSettings>
</configuration>